@model PP_5.Models.Product_in_Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product_in_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_in_OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
