@model PP_5.Models.Customer

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/index.css" />
</head>

<body class="text-center">
    <main class="form-signin">
        <!-- Изменено для использования Html.BeginForm -->
        @using (Html.BeginForm("LogIn", "SignIn", FormMethod.Post))
        {
            @Html.AntiForgeryToken() <!-- Защита от CSRF атак -->

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LogIn" class="btn btn-default" />
            </div>
        }
    </main>
</body>
