<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DNS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/index.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("DNS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Products", "Products", "ToolsUser", new { area = "" }, new { @class = "sign-button btn btn-outline-light" })</li>
                </ul>
            </div>
            @Html.ActionLink("Profile", "Profile", "ToolsUser", new { area = "" }, new { @class = "btn btn-outline-light" })
            @Html.ActionLink("Log Out", "LogOut", "ToolsUser", new { area = "" }, new { @class = "sign-button btn btn-outline-light" })
        </div>
</nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="custom-footer bg-dark">
        <p>&copy; @DateTime.Now.Year - DNS - интернет магазин</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
