@model PP_5.Models.Customer
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Профиль пользователя</h2>

<p>Имя пользователя: @Model.FIO</p>
<p>Email: @Model.Email</p>
<p>Номер телефона: @Model.Phone</p>

@Html.ActionLink("Edit", "Edit", new { id = @Model.CustomerID })